@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, rgb(152, 152, 251), rgb(175, 57, 175));
  }


.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 200px;
}

h1 {
  margin-left: 550px;
  margin-bottom: 50px;
}

.recent-refresh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-bottom: 30px;
}

.refresh-btn {
  border: black 2px solid;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}

.scores-ul {
  list-style-type: none;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 150%;
  height: 80%;
}

.li {
  align-self: flex-start;
  width: 100%;
  font-size: 22px;
}

ul .li:nth-of-type(even) {
  background-color: rgb(182, 182, 182);
}

.input-1 {
  margin-bottom: 30px;
  margin-top: 20px;
  height: 30px;
  width: 100%;
}

.input-2 {
  height: 30px;
  width: 100%;
}

.input-3 {
  margin-left: 150px;
  border: black 2px solid;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}

.add-section {
  width: 200px;
  margin-left: 95px;
  margin-bottom: 100px;
}
